#billboard {
    padding: 80px 0;
}

.billboard-img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.zoom-effect img{
    transform: scale(1);
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#billboard h1 {
    font-size: 3.6rem;
    margin-bottom: 25px;
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

#billboard p {
    font-family: "Jost", sans-serif;
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}

#billboard h5 {
    margin-top: 15px;
    font-size: 18px;
}

#billboard a {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

.features-icon{
    font-size: 2.5rem;
    color: #111;
    margin-bottom: 15px;
}

.categories{
    padding: 80px 0;
    background-color: #ffffff;
}

.category-card img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.4s ease-in-out;
}

.category-card: img{
    transform: scale(1.05);
}

.category-card h4{
    font-family: "Marcellus", serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #111;
    margin-top: 20px;
    letter-spacing: 1px;
}

#new-arrival{
    padding: 80px 0;
}

#new-arrival h4{
    font-family: "Marcellus", serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #111;
    margin-top: 20px;
    letter-spacing: 1px;
}

.na-view-all{
    font-family: "Jost", sans-serif;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #111;
    text-decoration: none;
}

.na-view-all:hover{
    text-decoration: underline;
}

.na-product{
    position: relative;
    overflow: hidden;
}

.na-image-wrap img{
    width: 100%;
    height: 650px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.na-product:hover .na-image-wrap img{
    transform: scale(1.05);
}

.na-wishlist{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: #fff;
    padding: 6px 8px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.na-product:hover .na-wishlist{
    opacity: 1;
}

.na-product h5{
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: "Marcellus", serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: #111;
    margin-top: 20px;
    letter-spacing: 1px;
}

.na-add {
    display: inline-block;
    font-size: 0.9rem;
    color: #8c907e;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.na-add span{
    border-bottom: 1px solid #8c907e;
    padding-bottom: 2px;
}

.na-add:hover span{
    opacity: 0.7;
}

#collection{
    background-color: #f8f8f8;
    padding: 60px 0;
}

.collection-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-right: none;
    margin: 20px 0 10px 20px;
}

.collection-title{
    font-family: "Marcellus", serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #111;
    text-transform: uppercase;
}

.coll-desc{
    font-family: "Jost", sans-serif;
    font-size: 1rem;
    color: #8f8f8f;
    margin: 20px;
    max-width: 80%;
}

.coll-btn{
    border-radius: 2px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #111;
    border: none;
}

.desc-card{
    background: #fff;
    padding: 50px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    height: 750px;
    margin: 20px 20px 5px -3px;
}

#full-img{
    padding: 10px 20px;
}

.center-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotate-circle {
    width: 180px;
    height: 180px;
    animation: rotate 10s linear infinite;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-icon i {
    font-size: 40px;
    color: #fff;
}

/* Rotation animation */
@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.testimonials {
    background-color: #f8f8f8;
}

.testimonials .section-title {
    font-family: "Marcellus", serif;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #111;
    text-transform: uppercase;
}

.testimonial-item blockquote {
    font-family: "Marcellus", serif;
    font-size: 1.6rem;
    line-height: 1.4;
    color: #111;
}

.testimonial-item blockquote p {
    margin: 0;
}

.review-title {
    font-family: "Jost", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    color: #8f8f8f;
    margin-top: 15px;
    text-transform: uppercase;
}
