body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(101, 97, 97, 0.69), rgba(101, 97, 97, 0.69));
}

.box {
  width: 320px;
  background: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  padding: 20px 33px;
  margin: 20px auto;
  border-radius: 8px;
}

#plus,
#minus {
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  color: orange;
  cursor: pointer;
}

#plus:hover,
#minus:hover {
  background: #ddd;
}

#search {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#items {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#items li {
  background: #fafafa;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#items li:hover {
  background: #f0f0f0;
}

.accbtn {
  width: 100%;
  padding: 12px;
  background: orange;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.accbtn:hover {
  background: #e0e0e0;
}

.acc-content {
  display: none;
  padding: 10px;
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
